/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

body {
  /* fallback for old browsers */
  background: #0575E6;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #021B79, #0575E6);
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 50vh !important;
  opacity: 1;
  border-radius: 10px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #01155c;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  background: #0451a1;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

#gp-logo img {
  max-height: 2em;
  max-width: none;
}

.white {
  color: white;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }

